<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="css/index.css">

    <!-- <title>  </title> -->
</head>

<body>

    <div class="my-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-custom">
            <div class="container-fluid">
                <div class="btn-sidebar">
                    <button type="button" class="btn btn-menu" onclick="openSideBar()" id="btnSideBar">|||</button>
                    <a class="navbar-brand mx-3" href="#">BinaRent</a>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="my-sidebar" id="sidebar">
            <div class="sidebar-link">
                <div class="side-exit">
                    <button type="button" class="btn btn-exit" onclick="closeSideBar()">
                        <</button> </div> <div class="sidebar-item">
                </div>
            </div>
            <div class="content">
                <p class="text-title">Menu</p>
                <div class="content-list">
                    <a class="content-item" href="#"></a>
                    <a class="content-item" href="#">List Cars</a>
                </div>
            </div>
        </div>


        <div class="body-content" id="contentBodyMain">
            <div class="container-btn">
                <div class="btn-add">
                    <a type="button" class="btn btn-primary" id="btnAdd" href="/add">+ Add New
                        Car</a>
                </div>
            </div>

            <div class="container-item">
                <div class="ci-btn">
                    <ul>
                        <li><a href="/filter/small" class="btn btn-info">Small</a></li>
                        <li><a href="/filter/medium" class="btn btn-info">Medium</a></li>
                        <li><a href="/filter/large" class="btn btn-info">Large</a></li>
                    </ul>
                </div>
            </div>

            <div class=" card-container">
                <div class="row row-cols-4 row-custom">
                    <% cars.forEach(element => { %>

                    <input type="hidden" value="<%= element.sizeProduct %>" name="sizeText">

                    <div class="col-3 mb-5">
                        <div class="card-custom">
                            <div class="card-head">
                                <img src="<%= element.carImg %>" alt="" class="car-img">
                            </div>
                            <div class="card-body">
                                <p class="card-title"> <%= element.carName %> </p>
                                <p class="card-content"><%= element.price %> </p>
                                <p class="card-content"><%= element.updateAt %> </p>
                                <div class="filter-footer">
                                    <a href="/delete/<%= element.id %> " class="btn btn-outline-danger">Delete</a>
                                    <a href="/update/<%= element.id %>" class="btn btn-success">Edit</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <% }) %>

                </div>
            </div>
        </div>








    </div>








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script src="scripts/style.js"></script>




</body>

</html>