.my-container {
    max-width: 1400px;
    width: 100%;
    height: 100%;
}

.bg-custom {
    background-color: rgba(215, 240, 252, 0.4);
}

.btn-sidebar{
    margin-left: 10px;
    display: flex;
}
.btn-menu {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.btn-exit {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 18px;
    color: black;
}
.my-sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: rgba(215, 240, 252, 0.8);
}

.sidebar-link {
    width: 50px;
    height: 100%;
    border-right:  2px solid lightblue;
}

.content {
    padding-top: 10px;
    width: 100%;
}
.text-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.content-list {
    width: 100%;
    display: block;
}
.content-item {
    display: block;
    width: 100%;
    border-bottom: 2px solid lightblue;
    text-decoration: none;
    color:black;
}
.content-item:hover {
    background-color: lightblue;
    color:white;
}

.body-content {
    width: 100%;
    height: 700px;
    background-color: rgba(215, 240, 252, 0.4);
    padding:20px;
}
.filter-card {
    height: 400px;
}
.filter-head p {
    margin-top: 20px;
    font-size: 22px;
    margin-left: 10px;
}

.filter-body {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.input-fill {
    max-width: 600px;
}

.input-fill-item {
    display: flex;
    height: 50px;
    margin-bottom:20px;
}
.input-name {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.input-area {
    border-radius: 0.3rem;
    border: 1px solid black;
    width: 250px;
}

.input-area::placeholder {
    text-indent: 10px;
}

.pd-5 {
    padding-left: 5px;
}
.input-area::placeholder {
    padding-left: 5px;
}

.filter-footer {
    margin-top: 25px;
}




.container-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.row-custom {
    padding: 30px;
}

.card-container {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card-custom {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.card-head {
    /* width: 100%; */
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
}
.car-img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}
.container-item {
    height: 50px;
}

.ci-btn ul {
    padding-top: 6px;
    display: flex;

}
.ci-btn li {
    list-style-type: none;
    margin-right: 10px;
}


/* animation here.. */
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(-6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(-4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}