<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="css/index.css">

    <!-- <title>  </title> -->
</head>




<body>

    <div class="my-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-custom">
            <div class="container-fluid">
                <div class="btn-sidebar">
                    <button type="button" class="btn btn-menu" onclick="openSideBar()" id="btnSideBar">|||</button>
                    <a class="navbar-brand mx-3" href="#">BinaRent</a>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="my-sidebar" id="sidebar">
            <div class="sidebar-link">
                <div class="side-exit">
                    <button type="button" class="btn btn-exit" onclick="closeSideBar()">
                        <</button> </div> <div class="sidebar-item">
                </div>
            </div>
            <div class="content">
                <p class="text-title">Menu</p>
                <div class="content-list">
                    <a class="content-item" href="#"></a>
                    <a class="content-item" href="#">List Cars</a>
                </div>
            </div>
        </div>


        <div class="body-content" id="contentBody">

            <div class="filter-card">
                <div class="filter-head">
                    <p>Car Filter</p>
                </div>
                <div class="filter-body">
                    <div class="input-fill">

                        <form action="/create" method="post">

                            <div class="input-fill-item">
                                <p class="input-name">Nama</p>
                                <input type="text" placeholder="Avanza" class="input-area" id="carName" name="carInput">
                            </div>

                            <div class="input-fill-item">
                                <p class="input-name">Sewa Per Hari</p>
                                <input type="text" placeholder="Rp. 0,-" class="input-area" id="carPrice"
                                    name="priceInput">
                            </div>

                            <div class="input-fill-item">
                                <p class="input-name">Ukuran</p>
                                <!-- <input type="text" placeholder="Avanza" class="input-area"> -->
                                <select class="form-select input-area" id="carsSize" name="sizeInput">
                                    <option selected disabled="disabled">Choose Size</option>
                                    <option value="small">Small</option>
                                    <option value="med">Medium</option>
                                    <option value="lar">Large</option>
                                </select>
                            </div>

                            <div class="input-fill-item">
                                <p class="input-name">Foto</p>
                                <input type="text" placeholder="Avanza" class="input-area" name="imgInput">
                            </div>

                            <div class="filter-footer">
                                <a href="/" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script src="scripts/style.js"></script>




</body>

</html>